<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'base.css' %}">
<!-- 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> -->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> -->
	<title>{% block title %}{% endblock %}</title>
 
</head>
<body>
	<div class="wrapper">
		<div clas="container">
			<h1> {% block head %}{% endblock %}</h1>
			{% block content %}{% endblock %}
		</div>
	</div>
<footer>
	
</footer>
 

 <script type="text/javascript" src="{% static 'main.js' %}"></script>
 <script type="text/javascript" src="{% static '"
  {% block javascript %}
  {% endblock %}

</body>
</html>