<!-- register.html -->
{% extends "base.html" %}
{% block title %}Cohort Registration{% endblock title %}
{% block head %}Cohort Registration{% endblock head %}
{% block content %}
    <form method="post" >{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <button type="submit" value="Register" id="register-cohort">Register</button>
    </form>
    <button id="add-another-cohort">Add Another Cohort</button>
	<label>Close Registation Form</label>
    <button>x</button>
{% endblock content %}

{% block javascript %}
<script src="/static/main.js"></script>
{% endblock javascript %}




