/*base css stuff and some login stuff*/


.container {
    width: 750px;
}

.hidden{
    display:none;
}

.unhidden {
    display:block;
}

h1 {
    color: orange;
    position: block;
    padding : 4%;
}

div.wrapper {
    padding:20px;
}

/*body {
    background-color: #fdffb8;
}*/


/*!!!!!!!!!!!!!!!!!*/
/* cohort list index.html css*/

div#cohort-list-div:hover {
    background-color: #d65602;
}

div#cohort-list-div {
    text-align: center;
    border: 3px solid orange;
    background-color: #ffbb02;
    color: white;
}

#list-cohort-li>a {
    text-transform: uppercase;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: white;
}


div#cohort-register-div, div#student-register-div {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.cohort-form-div, .student-form-div {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 277px;
}

.cohort-form-div>form, .student-form-div>form {
    text-align: left;
}

#add-cohort-form>p>input, #add-student-form>p>input {
    width:100%;
}

#add-cohort-form>p>select, #add-student-form>p>select {
    width:100%;
}

#add-cohort-form, #add-student-form {
    margin-bottom: 20px;
}
/* form appearance */

/*.student-form-div {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 277px;
}*/

/*base html css*/

.header-menu a {
    color: #bbb;
}

a {
    text-decoration: none;
    cursor:pointer;
    background-color: transparent;
}

nav {
    display:block;
}

.header__menu>.header__menu-left {
    float:left;
    padding-left:35px;
}

.header-menu>ul>li {
    float: left;
    text-transform: uppercase;
    margin-right: 1.5em;
    margin-top: 15px;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;

}

.header-menu>ul {
    margin:16px 0;
    display:flex;
    -webkit-box-pack:justify;
    justify-content: space-between;
    list-style-type: none;

}

header.header {
    background-color: #fff;
    opacity:1;
    height:72px;
    display: block;
    box-sizing: inherit;
    border-bottom: medium solid;
}
div.header-logo {
    font-family: MarrSancs, Helvetica, Arial Black, sans-serif;
    font-weight: 600;
    text-rendering: geometricPrecision;
    font-size:13px;
    border-bottom: 1px solid #eee;
    position:relative;
    float: left;
    padding: 0 10px;
    min-height:  72px;
}

.header-logo-image {
    display: block;
    width: 155px;
    height: 22px;
    padding: 25px;
    float: right;
    box-sizing: content-box;
    background-color: orange;
}

.header-logo-image span {
    border:0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width:1px;
    color: white;

}

ul.menu-left a::hover {
    border: 2px:
    color:orange; 

}

/* cohort detail view */

.cohort-name {
    font-family: MarrSancs, Helvetica, Arial Black, sans-serif;
    font-weight: 700;
    text-rendering: geometricPrecision;
    position: relative;
    text-align: center;
    color: black;
    background-color: #83cbe3;
    border-bottom: medium solid;
}

.cohort-detail {
    font-family: MarrSancs, Helvetica, Arial Black, sans-serif;
    font-weight: 300;
    position: inline-block;
    color: orange;

}

/*sub header csss*/

subheader {
    display: block;
    margin-top: 50px;
}

/* calendar in cohort detail */

/* student list */

ul.student-list {
    padding: 10px 0;
    background-color: #f5f5f5;
    border: medium black;
    list-style-type: none;
}

.cohort-detail-student-name-div {
    padding-bottom: 4px;
}

li.individual-student {
    border: 1px solid;
    background-color: #eeeeee;
    list-style-type: none;
    margin-bottom: -1px;
    font-size: 15px;
    padding: 12px;
}
.student-radio-tags>label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    padding: 0px 30px 0px 30px;
}
li.individual-student>a {
    color: black;
}

input.radio {
    display: inline-block;
}

form.student-radio-tags {
    display: inline-block;
    padding-left: 5px 10px 0px 10px;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #83cbe3;
    list-style-type: none;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}



/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.cal-numdays {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.cal-numdays li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
    cursor: pointer;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}


.btn-success {
/*    background-color: #f0ad4e;
    border-color: #eb9821;*/
    margin-top:20px;
}


#navbar-logo {
    height: 100%;
    width: 75%;
}


/* Large Buttons */
.new-student-button,
.new-cohort-button {
    background-color: #e6e6e6;
}

.new-student-button:hover,
.new-student-button:focus,
.new-cohort-button:hover,
.new-cohort-button:focus {
    background-color: #cac7c7;
}
