#bio-input {
    height:50px;
    width:100%;
}

#final_proj_input {
    width:100%;
    height:50px;
}

.student-detail-date {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: inline;
}

.date-status {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14;
    display:inline;
    padding-left: 25%;

}