{% extends "base.html" %}
{% block title %} Index View {% endblock title %}
{% block head %} Index {% endblock head %}

{% block content %}
<h1> This will list all the cohorts</h1>
<button type="submit"  value="new-cohort" class="new-cohort-button">Add Cohort</button>

<div id="cohort-register-div" class="hidden">
	<form method="post" id="add-cohort-form" action="/register_cohort">{% csrf_token %}
            {{ form.as_p }}
        <button type="submit" value="Register" id="register-cohort">Register</button>
    </form>
</div>
<div class="cohort-list">
	{% for cohort in cohorts %}
		<ul>
			<li><a href="cohort/{{ cohort.cohort_name }}">{{ cohort.cohort_name }}</a></li>
		</ul>

	{% endfor %}


	{% for student in students %}
		<li>{{ student.first_name }} {{ student.last_name }}</li>
	{% endfor %}
</div>
{% endblock content %}

