{% extends "base.html" %}
{% block title %} Index View {% endblock %}
{% block head %} Index {% endblock %}

{% block content %}
<h1> This will list all the cohorts</h1>
<button type="submit"  value="new-cohort" id="new-cohort-button">Add Cohort</button>
{% if context %}
	{% for cohort in cohorts %}
		<ul>
			<li><a href="attendace/{{ cohort.name }}">{{ cohort.name }}</a></li>
		</ul>

	{% endfor %}
{% endif %}
{% if students %}
	{% for student in students %}
		<li>{{ student.first_name }} {{ student.last_name }}</li>
	{% endfor %}
{% endif %}
{% endblock %}
{% block javascript %}
 <script src='static/js/base.js'></script>
{% endblock %}
