{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block head %}Login{% endblock head %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="form" method="post" action="." >{% csrf_token %}
        <input type="text" placeholder="cohort_name" name="Cohort Name">
        <input type="text" type="value" placeholder="teacher" name="Main Instructor">

        <button type="submit"  value="Register Cohort" id="register-cohort-button">Register Cohort</button>
        <!-- <button type="button" onclick="window.location.href='/registration/register.html' ">Register</button> -->
        <input type="hidden" name="next" value="/" />
    </form>

{% endblock content %}