{% extends "base.html" %}
{% block title %} Cohort Detail {% endblock title %}
{% block head %} Cohort Detail {% endblock head %}

{%block subheader %}
<subheader class='subheader'>
	
	<h1 class="cohort_name" id="{{cohort_name}}">{{cohort_name}}</h1>
	<div class="cohort-info">
		<h3>Teacher: {{teacher}}</h3>
		<h3>Start Date: {{start_date}}</h3>
		<h3>Graduation Date: {{graduation_date}}</h3>
	</div>

	<button class="btn btn-warning btn-block new-student-button"><span class="glyphicon glyphicon-plus"></span> Add Student</button>

	<div id="student-register-div" class="hidden">
		<div class="add-student-form">
			<h3>Register Student</h3>
			<form method="post" id="register-student-form">{% csrf_token %}
			{{ form.as_table }}
			<button type="submit" id="register-student" class="btn btn-success btn-small" value="Register"><i class="icon-white icon-plus"> Register</i></button>
			</form>
		</div>
	</div>

</subheader>

{% endblock %}

{% block content %}

<div class="month"> 
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      <div id='todays-date'>Hello</div>
      
      <!-- <month>{{month}} August<month><br>
      <span style="font-size:18px">
      	<year>{{year}}2016</year>
      </span>
      <week>{{week}} week 1</week><br>
      {{today}} todays date<br> -->
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="cal-numdays"> 
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
</ul>


<ul class="student-list">

{% for member in members %}
  <li class="individual-student">
	<div class="cohort-detail-student-name-div">
		<a class="username" id="{{member.username}}" href="/profile/{{member.username}}".format(member.username)>{{member.first_name}} {{member.last_name}}</a>
	</div>
	<form class="student-checkbox-tags">{% csrf_token %}
		<label>Present</label>
		<input type="checkbox" class="checkbox" name="present" value="present" checked>
		<label>Unexcused</label>
		<input type="checkbox" class="checkbox" name="unexcused" value="unexcused">
		<label>Excused</label>
		<input type="checkbox" class="checkbox" name="excused" value="excused">
		<label>Late</label>
		<input type="checkbox" class="checkbox" name="late" value="late">
	</form>
  </li>
{% endfor %}	

</ul>
<div class="submit-attendance-div">
	<button class="btn btn-success btn-block take-attendance-button"><span class="glyphicon glyphicon-plus"></span> Submit Attendance</button>
</div>


{% endblock content %}
