{% extends "base.html" %}
{% block title %} Cohort Detail {% endblock title %}
{% block head %} Cohort Detail {% endblock head %}

{%block subheader %}
<subheader class='subheader'>
	
	<h1 class="cohort_name" id="{{cohort_name}}">{{cohort_name}}</h1>
	<div class="cohort-info">
		<h3>Teacher: {{teacher}}</h3>
		<h3>Start Date: {{start_date}}</h3>
		<h3>Graduation Date: {{graduation_date}}</h3>
	</div>

	<button class="btn btn-warning btn-block new-student-button"><span class="glyphicon glyphicon-plus"></span> Register Student</button>

	<div id="student-register-div" class="hidden">
		<div class="student-form-div">
			<form method="post" id="add-student-form">{% csrf_token %}
				{{ form.as_p }}
			</form>
			<button type ="button" id="register-student" class="btn btn-primary btn-lg btn-block btn-success register-student"><span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>

</subheader>

{% endblock %}

{% block content %}

<div class="month"> 
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      <div id='todays-date'></div>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="cal-numdays list-group"> 
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
</ul>


<ul class="student-list">

{% for member in members %}
  	<li class="individual-student">
		<div class="cohort-detail-student-name-div">
			<a class="username" id="{{member.username}}" href="/profile/{{member.username}}">{{member.first_name}} {{member.last_name}}</a>
		</div>
		<form method = 'post' class="student-radio-tags" id="{{member.username}}">{% csrf_token %}
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn btn-primary">
					<input type="radio" class="radio" name="student-attendance" autocomplete="off" value="present">Present
				</label>
				<label class="btn btn-primary">
					<input type="radio" class="radio" name="student-attendance" autocomplete="off" value="unexcused">Unexcused
				</label>
				<label class="btn btn-primary">
					<input type="radio" class="radio" name="student-attendance" autocomplete="off" value="excused">Excused
				</label>
				<label class="btn btn-primary">
					<input type="radio" class="radio" name="student-attendance" autocomplete="off" value="late">Late
				</label>
				</div>
		</form>
  	</li>
{% endfor %}	

</ul>
	<div class="submit-attendance-div">
		<button class="btn btn-success btn-block take-attendance-button">
			<span class="glyphicon glyphicon-plus"></span>Submit Attendance
		</button>
	</div>


{% endblock content %}
