{% extends "base.html" %}
{% block title %} Index View {% endblock title %}
{% block head %} Index {% endblock head %}

{%block subheader %}
	<subheader class='subheader'>

		<button class="btn btn-warning btn-block new-cohort-button"><span class="glyphicon glyphicon-plus"></span> Register New Cohort</button>
		
		<div id="cohort-register-div" class="hidden">
			<div class="cohort-form-div">
			<form method="post" id="add-cohort-form" action="/register_cohort">{% csrf_token %}
		            {{ form.as_p }}
		    </form>
		    <button class="btn btn-success btn-lg active register-cohort"><span class="glyphicon glyphicon-plus"></span></button>
		    </div>
		</div>
		
	</subheader>
{% endblock %}


{% block content %}

<table class="cohort-list">
	{% for cohort in cohorts %}
		
		<ul>

			<div id="cohort-list-div">
				<item id="list-cohort-li"><a href="cohort/{{ cohort.cohort_name }}">{{ cohort.cohort_name }}</a></item>
			</div>
		</ul>

	{% endfor %}

</div>
{% endblock content %}

