{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Profile - {{user.first_name}} {{user.last_name}} {% endblock %}
{% block head %} Profile - {{user.first_name}} {{user.last_name}} {% endblock %}

{% block topscripts %}
<link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
{% endblock topscripts %}

{% block content %}

<div style="padding-top:50px;"> </div>
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3 id="bio_title"><strong>Bio</strong></h3>
                            <p>{{ profile.bio }}</p>
                                 <div id="bio_update_div" class="hidden">   
                                    <form id="bio_update_form">{% csrf_token %}
                                        <input id="bio-input" placeholder="Write your mini bio here" type="text" name="bio-form">
                                    </form>
                                    <button id="bio-btn" style="width:100%" class="btn btn-btn-success">Submit
                                    </button> 
                                </div>

                            <hr>
                            <h3><strong>Location</strong></h3>
                            <p>New York</p>
                            <hr>
                            <h3 id="cohort_update"><strong>Cohort</strong></h3>
                            <p>{{cohort.cohort_name}}</p>
                            <hr>
                            <h3 id="graduation_update"><strong>Graduation Date</strong></h3>
                            <p>{{cohort.graduation_date}}</p>
                            <h3 id="final_project"><strong>Final Project</strong></h3>
                            <p>{{profile.final_project}}</p>
                            
                            <div id="final_form_div" class="hidden">
                                <form id="final_project_form">{% csrf_token %}
                                    <input type="text" id="final_proj_input" name="project">
                                </form>
                                <button id="final-btn" style="width:100%" class="btn btn-btn-success">submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;" id="id_username">{{user.first_name}} {{user.last_name}}</h1>
                    </span>
                    <br><br>
                    <span class="pull-right">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Posts</a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Mention"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ignore"></i></a>
                    </span>
                </div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                    </div>
                    <h4>
                        <a class="username" id={{user.username}} href="/profile/{{user.username}}" style="text-decoration:none;"><b>{{user.first_name}} {{user.last_name}}</b></a> – <small><a href="#" style="text-decoration:none; color:grey;"><i class="fa fa-clock-o" aria-hidden="true"></i>{{user.last_updated}}</i></a></small>
                        <div class="pull-right">
                            <small><a id="show-hide-attendance"href="#" style="text-decoration:none;">Update Attendance?</a></small>
                        </div>
                        
                    </h4>
                    <hr>

                <div class="attendance-record-tbl">
                    {% for record in attendance %}
                    <div class="list-group">
                        <div class="list-item" id="{{record.date | date:'Y-m-d'}}">
                            <div class="student-detail-date">{{record.date | date:'D, M d, Y'}}</div>
                            <div class="date-status" id="{{record.status}}">{{record.status | title}}</div>
                        </div>
                        
                        <form class="attendance-records" style="display: none;">{% csrf_token %}
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                            {% if record.status != "present" %}
                                <label class="btn btn-primary">{% else %}<label class="btn btn-primary active">
                            {% endif %}
                                    <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="present">Present</label>
                            
                            {% if record.status != "unexcused" %}
                                <label class="btn btn-primary">{% else %}<label class="btn btn-primary active">
                            {% endif %}                                            
                                    <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="unexcused">Unexcused</label>

                            {% if record.status != "excused" %}
                                <label class="btn btn-primary">{% else %}<label class="btn btn-primary active">
                            {% endif %}
                                    <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="excused">Excused</label>
                            
                            {% if record.status != "late" %}
                                <label class="btn btn-primary">{% else %}<label class="btn btn-primary active">
                            {% endif %}
                                    <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="late">Late</label>
                            </div> 
                        </form>
                    </div>
                    {% endfor %}
                        <div class="submit-attendance-div" style="display: none;">
                            <button id="take-attendance-profile-button" class="btn btn-success btn-block take-attendance-button">
                                <span class="glyphicon glyphicon-plus"></span>Update Attendance
                            </button>
                        </div>
                    </div>
                    

{% endblock %}
