{% extends "base.html" %}
{% block title %} Profile Detail {% endblock %}
{% block head %} Profile Detail {% endblock %}

{% block content %}

<div style="padding-top:50px;"> </div>
        <div class="col-lg-5 col-md-4 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3 id="bio_title"><strong>Bio</strong></h3>
                            <p>{{ profile.bio }}</p>
                                 <div id="bio_update_div" class="hidden">   
                                    <form id="bio_update_form">{% csrf_token %}
                                        <input id="bio-input" placeholder="Write your mini bio here" type="text" name="bio-form">
                                    </form>
                                    <button id="bio-btn" style="width:100%" class="btn btn-btn-success">Submit
                                    </button> 
                                </div>

                            <hr>
                            <h3><strong>Location</strong></h3>
                            <p>New York</p>
                            <hr>
                            <h3 id="cohort_update"><strong>Cohort</strong></h3>
                            <p>{{cohort.cohort_name}}</p>
                            <hr>
                            <h3 id="graduation_update"><strong>Graduation Date</strong></h3>
                            <p>{{cohort.graduation_date}}</p>
                            <h3 id="final_project"><strong>Final Project</strong></h3>
                            <p>{{profile.final_project}}</p>
                            
                            <div id="final_form_div" class="hidden">
                                <form id="final_project_form">{% csrf_token %}
                                    <input type="text" id="final_proj_input" name="project">
                                </form>
                                <button id="final-btn" style="width:100%" class="btn btn-btn-success">submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;" id="id_username">{{user.username}}</h1>
                    </span>
                    <br><br>
              
                    <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Posts</a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Photos <span class="badge">42</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Contacts <span class="badge">42</span></a>
                    </span>
                    <span class="pull-right">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Mention"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ignore"></i></a>
                    </span>
                </div>
            </div>
            <hr>
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                    </div>
                    <h4><a href="#" style="text-decoration:none;"><strong>{{user.username}}</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> {{user.last_updated}}</i></a></small></small></h4>
                    <span>
                        <div class="navbar-right">
                            <div class="dropdown">
                           
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                    <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <hr>
  <!--                   <div class="attendace-record">
						{% for record in attendance %}
							<div class="list-group">
								<div class="list-item">
									<div>{{record.date}},{{record.status}}</div>
                                    <div><button>Update</button></div>
								</div>
							</div>
						<hr>
							{% endfor %}
					</div> -->

                <div class="attendace-record">
                    {% for record in attendance %}
                    <div class="list-group">
                        <div class="list-item ">
                            <div>{{record.date}},{{record.status}}</div>
                        

                            <form class="profile-radio-tags" id="profile-attendance-form">{% csrf_token %}
                                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="present">Present
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="unexcused">Unexcused
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="excused">Excused
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="late">Late
                                        </label>
                                        <label class="btn btn-success">
                                            <input type="radio" class="radio" name="profile-attendance" autocomplete="off" value="late">Submit
                                        </label>
                                    </div>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    

{% endblock %}
