{% extends "base.html" %}

{% block title %} Students {% endblock title %}
{% block head %} Students {% endblock head %}

{% block topscripts %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">  
{% endblock topscripts %}

{% block subheader %}{% endblock subheader %}

{% block content %}
<h2><center>All Students</center></h2><br/>

<table id="allstudents" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Final Project</th>
            <th>Cohort</th>
            <th>Cohort Start Date</th>
            <th>Cohort Grad Date</th>


        </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td><a href="/profile/{{student.username}}">{{student.username}}</a></td>
            <td>{{student.final_project}}</td>
            <td>{{student.cohort_name}}</td>
            <td>{{student.cohort_start_date}}</td>
            <td>{{student.cohort_grad_date}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}


{% block javascript %}{% load staticfiles %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
{% endblock javascript %}
